:root {
    --text-color: #667085;
    --main-color: #8E2424;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.links a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
}

button#signUp {
    background-color: var(--main-color);
    color: #FFF;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
    gap: 24px;
}

.metricas-container {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.metricas-content {
    align-items: left;
    gap: 20px;
}

span {
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.2rem;
    letter-spacing: 0em;
    text-align: center;
    color: var(--main-color);
}

h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;

}

h2 {
    font-family: Inter;
    font-size: 3rem;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--main-color);
}

h2#heading {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #101828;
    padding-bottom: 0.5rem;
    letter-spacing: -2%;
}

h3 {
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #101828;
    
}

p {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400, regular;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: center;
    color: #667085;

}

p#sup-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-color);

}

.talentos-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 96px 0px 96px 0px;
    gap: 64px;
    align-items: center;
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.heading-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.badge-base {
    display: flex;
    flex-direction: column;
    background-color: rgba(142, 36, 36, 0.05);
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border-radius: 0.8rem;
}

.badge{    
    font-size: 0.7rem;
    font-weight: 500, Medium;
    padding-top: 0.2rem;
    padding-left: 0.6rem;
}

.container-img {
    display: flex;
    width: 1216px;
    height: 400px;
    padding-left: 112px;
    padding-top: 298px;
    background-image: url("./img/vagas_img.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    overflow: hidden;
    object-fit: fill;
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    position: static;
}

.design {
    padding: 0px 32px;
    gap: 64px;
}